# ignore the local copy of the cookie which identifies me for login purposes
automation/authorization_cookie.py
automation/cookie.hs
*cookie.hs*


# ignore the files from compilation
*.hi
*.o
*.bin
*.dyn_hi
*.dyn_o
*dist-newstyle*